.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #9370db;
    padding: 3px 0 0px 2px;
  }
  
  .navbar-logo img {
    height: 50px;
    background-color:white;
  }
  
  .navbar-links {
    display: flex;
    list-style: none;
  }
  
  .navbar-links li {
    margin: 0 15px;
  }
  
  .navbar-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  